/*-----FOOTER-----*/
Footer{
    .footer-grid{
        background-color: #111111;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 130px 130px;
        grid-template-areas:
            "logo logo logo"
            "horario derechos redes"
        ;
        .foot-logo{
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 1 / 4;
            grid-area: logo;
            img{
                height: 80px;
                width: 140px;
            }
        }
        .foot-horario{
            display: flex;
            justify-content: start;
            grid-area: horario;
            p{
                color: white;
                font-family: sans-serif, Arial, Helvetica;
                font-size: small;
                margin: 1rem;
            }
        }
        .foot-derechos{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            grid-area: derechos;
            p{
                color: rgb(255, 255, 255);
                font-family: sans-serif, Arial, Helvetica, 'Poppins';
                font-size: x-small;
                text-align: center;
            }
        }
        .foot-redes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            grid-area: redes;
            p{
                color: rgb(255, 255, 255);
                font-family: sans-serif, Arial, Helvetica, 'Poppins';
                margin: 15px;
                font-size: 1rem;
            }
            a{
                img{
                    height: 50px;
                    width: 50px;
                    margin: 5px;
                }
            }
        }
    }
}