/*-----FOOTER-----*/
Footer{
    .footer-grid{
        background-color: $color-principal;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 130px 130px;
        grid-template-areas:
            "logo logo logo"
            "horario derechos redes"
        ;
        .foot-logo{
            display: inline-block;
            @include flextwo (flex, center, center);
            grid-column: 1 / 4;
            grid-area: logo;
            img{
                width: 140px;
            }
        }
        .foot-horario{
            @include flextwo (flex, start, flex-start);
            grid-area: horario;
            p{
                color: nth($color, 4 );
                font-family: sans-serif, Arial, Helvetica;
                font-size: small;
                margin: 1rem;
            }
        }
        .foot-derechos{
            @include flextwo (flex, center, flex-end);
            grid-area: derechos;
            p{
                color: nth($color, 4 );
                font-family: sans-serif, Arial, Helvetica, 'Poppins';
                font-size: x-small;
                text-align: center;
            }
        }
        .foot-redes{
            @include flextwo (flex, center, center);
            flex-direction: row;
            grid-area: redes;
            p{
                color: nth($color, 4 );
                font-family: sans-serif, Arial, Helvetica, 'Poppins';
                margin: 15px;
                font-size: 0.9rem;
            }
            a{
                img{
                    height: 40px;
                    width: 40px;
                    margin: 5px;
                }
            }
        }
    }
}