/*-----HEADER-----*/
header{
    .navbar{
        background-color: $color-principal;
        .container-fluid{
            .logo-container{
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                a{
                    .navbar-logo{
                        width: 100px;
                    }
                }
            }
            .navbar-toggler{
                color: $color-terciario;
                margin: 13px 0 13px 0;
                .navbar-menu{
                    width: 25px;
                }
            }
            .collapse{
                .navbar-nav{
                    .nav-item{
                        .nav-link{
                            color: nth($color , 4 );
                            font-weight: 500;
                            margin: 10px 0 10px 0;
                            transition: all 200ms ease;
                            &:hover{
                                color: nth($color , 3 );
                            }
                        }
                        .dropdown-menu{
                            background-color: $color-principal;
                            border: solid #ffffff50 2px;
                            li{
                                .dropdown-item{
                                    color: nth($color , 4 );
                                    &:hover{
                                        background-color: $color-secundario;
                                        color: nth($color , 1 );
                                    }
                                }
                            }
                        }
                    }
                }
                .d-flex{
                    .form-control{
                        border: solid 2px $color-terciario;
                        &:focus{
                            box-shadow: none;
                        }
                    }
                    .btn{
                        color: nth($color , 4 );
                        border: solid 2px $color-terciario;
                        &:hover{
                            background-color: $color-terciario;
                        }
                    }
                }
            }
        }
    }
}